.form {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  figure {
    width: 150px;
    margin-top: 40px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
